 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,900');

    body{
        font-family: 'Roboto-Mono', monospace;
        padding: 0;
        margin: 0;
        font-size: 16px;
        -webkit-print-color-adjust:exact;
    }
    
    h1{
        font-size: 2.5em;
        font-weight: bold;
    }
    
    h2{
        font-size: 2.0em;
        color: #EC3A35;
    }
    
    h3{
        font-size: 1.6em;
    }
     
    h4{
        font-size: 1.3em;
    }
    
    .high-text{
        color: #2DC5FA;
        font-weight: bold;
    }
    
    .row-1{
        background-color: #181B23;
    }
    
    .block-1{
        color: #ffffff;
        padding: 15px;
    }
    
    .block-2{
        text-align: center;
        padding: 15px;
        align-items: center;
    }
    
    .block-2 img{
        
        width: 200px;
        height: 200px;
        border: 6px solid #2DC5FA;
        border-radius: 50%; 
        padding: 5px;
        background-color: #ffffff;
    }
    .block-3{
        padding: 0px;
        margin-bottom: 5px;
    }
    .block-3 ul{
        padding-left: 20px;
    }
    .block-3 div{
        display: inline-block;
        padding: 0;
        border: 2px solid red;
    }
    
    .block-3 li{
        list-style-type: none;
        line-height: 2.0em;
    }
    
    .block-3 i{
        margin-right: 10px;
    }
    
    .block-3 a{
        color: #ffffff;
        text-decoration: none;
    }
    
    .block-5 li{
        box-shadow: 2px 2px 5px;
        list-style-type: none;
        display: inline;
        line-height: 3.0em;
        border: 2px solid rgba(182, 60, 56, 0.871);
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
    }
    
    .block-5 li:hover{
        border-color: rgb(181, 10, 4);
        background-color: rgba(236, 238, 242, 0.529);
        cursor: pointer;
    }

    #html,#css{
        background-image: url("verde.jpg");
        background-repeat: no-repeat;
        background-size: 70% 100%;
    }
    #javascript{
        background-image: url("verde.jpg");
        background-repeat: no-repeat;
        background-size: 60% 100%;
    }
    #ingles{
        background-image: url("verde.jpg");
        background-repeat: no-repeat;
        background-size: 80% 100%;
    }
    #sql, #bootstrap{
        background-image: url("verde.jpg");
        background-repeat: no-repeat;
        background-size: 60% 100%;
    }
    #gulp{
        background-image: url("verde.jpg");
        background-repeat: no-repeat;
        background-size: 20% 100%; 
    }
    #sass, #nodejs, #linux{
        background-image: url("verde.jpg");
        background-repeat: no-repeat;
        background-size: 40% 100%; 
    }

#esconhderMostrar,#esconhderMostrar2{
    cursor:pointer;

}


.seta{
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}

#curso1{
    display: inline;
}
#descricaoCurso1, #descricaoCurso2{
    display:none;
}
.card{
    box-shadow: 2px 0px  10px;
    margin-bottom: 15px;
    border:none;
    height: 374px;
    
}
.card:hover{
    border: 1px solid rgba(0, 0, 0, 0.576);
}
.card-body{
    padding: 5px;
    
    
}

.card-text{
    font-size: 80%;
}
.botaoProjeto{
    width: 120px;
    margin: auto;
    margin-bottom: 8px;
}

.centro{
    text-align: center;
    padding-bottom: 10px;
}